@import '../utilities';

.tr,
tr {
  border-top: 1px solid $color-light;
}

.th,
.td,
th,
td {
  padding: 20px;
}

.th,
th {
  background-color: $color-light;
  color: $color-gray;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}


.table {
  border: 1px solid $color-light;
  border-collapse: initial;
  border-radius: $border-radius;

  &__content {
    overflow-x: auto;
  }

  table {
    width: 100%;
  }

  tr
  .tr {
    &:first-child {
      border-top: 0;
    }
  }
}