@import '../../scss/utilities.scss';

.board {
  &__title {
    margin-bottom: 20px;
  }

  &__footer {
    align-items: center;
    color: $color-gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .td:last-child {
      margin-left: auto;
    }
  }
}