@import '../../scss/utilities.scss';

.table-post {
  white-space: nowrap;

  th,td {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .pagination {
    justify-content: flex-end;
  }

  &__title {
    width: 30%;
    max-width: 260px;
  }

  &__body {
    width: 60%;
    max-width: 600px;
  }
}