@import './scss/utilities.scss';

.app {
  background-color: $color-light;
  min-height: 100vh;

  &__body {
    padding: 30px 15px;
  }

  &__content {
    background-color: #fff;
    border-radius: $border-radius;
    margin: 0 auto;
    max-width: 1860px;
    padding: 20px;
  }
}