@import './scss/utilities';
@import './scss/resets';
@import './scss/fonts';
@import './scss/components/table';

.h2 {
  color: $color-gray;
  font-size: 18px;
  font-weight: bold;
}

.icon {
  &--reverse {
    transform: scaleX(-1);
  }
}