@import '~reset-css/sass/reset';
@import './utilities';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

html {
  color: $color-dark;
  height: 100vh;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#root {
  min-height: 100vh;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

h2 {
  color: $color-gray;
  font-size: 18px;
  font-weight: bold;
}